body {
    font-family: 'Courier New', Courier, monospace;
}

.battlefield {
    background-color: whitesmoke;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-axis-space-evenly {
    justify-content: space-evenly;
}

.main-axis-space-between {
    justify-content: space-between;
}

.cross-axis-center {
    align-items: center;
}

.cross-axis-strech {
    align-items: stretch;
}

.cross-axis-end {
    align-items: end;
}

.text-center {
    text-align: center;
}

#state-btn {
    padding: 10px 30px;
    font-size: large;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
}

#state-btn:hover {
    filter: brightness(85%);
}

#state-btn:active {
    filter: brightness(50%);
}

.tile {
    position: absolute;
    border: 1px solid grey;
    cursor: pointer;
    animation-name: hide;
}

@keyframes drop {
    0% {transform: scale(600%);}
    50% {transform: scale(90%);}
    100% {transform: scale(100%);}
}

@keyframes hide {
    50% {transform: scale(110%);}
    100% {transform: scale(0%);}
}

dialog {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 32px 0px;
    border-radius: 12px;
    transition: ease-out;
    animation-name: drop;
    animation-duration: 500ms;
}

dialog.hide {
    animation-name: hide;
    transition: ease-out;
    animation-duration: 500ms;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}