body {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

#game-area-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-area-player{
    display: flex;
    flex-direction: column;
}

.game-board {
    background-color: whitesmoke;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#start-button {
    padding: 10px 30px;
    font-size: large;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#start-button:hover {
    background-color: lightgrey;
}

#start-button:active {
    background-color: grey;
}

.tile {
    position: absolute;
    border: 1px solid grey;
}